## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import sys
sys.path.append("..")
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mezica,SI,46.52,14.85,75.99,70,94,3.00,light rain,2020-08-23 16:23:02
1,1,Wennigsen,DE,52.27,9.57,70.00,60,20,19.46,few clouds,2020-08-23 16:23:02
2,2,Mataura,NZ,-46.19,168.86,44.01,91,53,1.99,broken clouds,2020-08-23 16:16:45
3,3,Severo-Kurilsk,RU,50.68,156.12,51.67,71,99,5.12,overcast clouds,2020-08-23 16:21:37
4,4,Konevo,RU,62.12,39.32,59.16,92,100,10.33,overcast clouds,2020-08-23 16:20:06

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mezica,SI,46.52,14.85,75.99,70,94,3.00,light rain,2020-08-23 16:23:02
5,5,Cururupu,BR,-1.83,-44.87,81.03,86,47,6.64,moderate rain,2020-08-23 16:23:03
8,8,Puerto Palomas,MX,31.77,-107.62,87.80,22,1,8.05,clear sky,2020-08-23 16:23:03
15,15,Ribeira Grande,PT,38.52,-28.70,77.00,83,40,8.05,scattered clouds,2020-08-23 16:21:08
19,19,Fare,PF,-16.70,-151.02,76.77,76,1,19.22,clear sky,2020-08-23 16:23:04
26,26,Kapaa,US,22.08,-159.32,77.00,94,90,9.04,overcast clouds,2020-08-23 16:20:43
27,27,Vila,PT,42.03,-8.16,82.99,57,26,11.41,scattered clouds,2020-08-23 16:20:46
30,30,Aksu,CN,41.12,80.26,83.05,21,0,5.21,clear sky,2020-08-23 16:23:06
31,31,Katsuura,JP,35.13,140.30,78.01,92,61,3.00,light rain,2020-08-23 16:18:17
33,33,Rundu,NaN,-17.93,19.77,81.91,16,0,4.63,clear sky,2020-08-23 16:23:06

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289 entries, 0 to 678
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              289 non-null    int64
 1   City                 289 non-null    object
 2   Country              286 non-null    object
 3   Lat                  289 non-null    float64
 4   Lng                  289 non-null    float64
 5   Max Temp             289 non-null    float64
 6   Humidity             289 non-null    int64
 7   Cloudiness           289 non-null    int64
 8   Wind Speed           289 non-null    float64
 9   Current Description  289 non-null    object
 10  Date                 289 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 27.1+ KB

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset=["City_ID", "City",
                                                         "Country", "Lat", "Lng",
                                                         "Max Temp", "Humidity",
                                                         "Cloudiness", "Wind Speed",
                                                         "Current Description",
                                                         "Date"])
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mezica,SI,46.52,14.85,75.99,70,94,3.00,light rain,2020-08-23 16:23:02
5,5,Cururupu,BR,-1.83,-44.87,81.03,86,47,6.64,moderate rain,2020-08-23 16:23:03
8,8,Puerto Palomas,MX,31.77,-107.62,87.80,22,1,8.05,clear sky,2020-08-23 16:23:03
15,15,Ribeira Grande,PT,38.52,-28.70,77.00,83,40,8.05,scattered clouds,2020-08-23 16:21:08
19,19,Fare,PF,-16.70,-151.02,76.77,76,1,19.22,clear sky,2020-08-23 16:23:04
...,...,...,...,...,...,...,...,...,...,...,...
671,671,Crotone,IT,39.09,17.12,87.80,52,0,10.29,clear sky,2020-08-23 16:21:37
673,673,Bukama,CD,-9.20,25.85,87.17,28,77,3.87,broken clouds,2020-08-23 16:24:33
675,675,Kathu,TH,7.92,98.33,84.99,94,20,6.55,few clouds,2020-08-23 16:21:37
677,677,Tonantins,BR,-2.87,-67.80,87.37,42,0,3.15,clear sky,2020-08-23 16:24:33
678,678,Pochutla,MX,15.74,-96.47,80.60,78,90,4.74,drizzle,2020-08-23 16:24:33

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mezica,SI,75.99,light rain,46.52,14.85,
5,Cururupu,BR,81.03,moderate rain,-1.83,-44.87,
8,Puerto Palomas,MX,87.80,clear sky,31.77,-107.62,
15,Ribeira Grande,PT,77.00,scattered clouds,38.52,-28.70,
19,Fare,PF,76.77,clear sky,-16.70,-151.02,
...,...,...,...,...,...,...,...
671,Crotone,IT,87.80,clear sky,39.09,17.12,
673,Bukama,CD,87.17,broken clouds,-9.20,25.85,
675,Kathu,TH,84.99,few clouds,7.92,98.33,
677,Tonantins,BR,87.37,clear sky,-2.87,-67.80,
678,Pochutla,MX,80.60,drizzle,15.74,-96.47,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mezica,SI,75.99,light rain,46.52,14.85,Gostišče Krivograd
5,Cururupu,BR,81.03,moderate rain,-1.83,-44.87,Pousada Través'cia
8,Puerto Palomas,MX,87.80,clear sky,31.77,-107.62,Hotel San Carlos
15,Ribeira Grande,PT,77.00,scattered clouds,38.52,-28.70,Quinta da Meia Eira
19,Fare,PF,76.77,clear sky,-16.70,-151.02,Maitai Lapita Village Huahine
...,...,...,...,...,...,...,...
670,Tamale,GH,85.14,broken clouds,9.40,-0.84,Tap Hotel
671,Crotone,IT,87.80,clear sky,39.09,17.12,Helios Hotel
675,Kathu,TH,84.99,few clouds,7.92,98.33,Sunset Beach Resort
677,Tonantins,BR,87.37,clear sky,-2.87,-67.80,Hotel Rei Davi
678,Pochutla,MX,80.60,drizzle,15.74,-96.47,Hotel Posada San Jose

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))